body   { font-family:"Times New Roman";
		 background-color: #EDEADE; }
/*  background-color: #c0beb6; */

.table  { font-family:Arial;
         border: 1px solid black;}

.textarea { font-family:"Courier New"; }

.selectBox  { font-family: Arial; }

.text { font-size: 16px; }

.bluebox { color: blue; }

img {max-width: 100%;}

@media screen and (min-width : 400px)
{ body, .textarea, .input, .selectBox  { font-size: 20px; };
	.text { font-size: 16 px;}
}

@media screen and (min-width : 800px)
{ body, .textarea, .input, .selectBox  { font-size: 16px; };
	.text { font-size: 14 px;}
}
