<html lang="en" dir="ltr"   ng-app="platecal">
<head>
   <title>PlateCal</title>
</head>
<body ng-controller="platecal_ctrl" >

<table id="platecal" >
        <tr>
        <td>Metal layer:</td>
        <td colspan="2" >
            <select id="targetMetal" ng-model="targetMetal"
                ng-options="metal.Symbol for metal in metals" ng-change="onValueChanged_Metal()" >
              </select>
        </td>
        </tr>

        <tr>
        <td>Metal Density:</td>
        <td id="metalDensity"> ------- </td>
        <td> g/cc </td>
        </tr>

        <tr>
        <td>ElectroChem. Eq:</td>
        <td id="electroChemEq"> ------- </td>
        <td> g/Amp-hr </td>
        </tr>

        <tr>
        <td>Cathode Efficiency:</td>
        <td>  <input id="cathodeEff"   inputmode="numeric" pattern="[0-9]*"  type="text"
                        onchange="onValueChanged_cathodeEff()"  size="4" value="100" ></td>
        <td>%</td>
        </tr>


        <tr>
        <td>------------------------</td>
        <td>-------</td>
        <td>-----</td>
        </tr>

        <tr>
        <td>Metal Thickness:</td>
        <td>  <input id="thickness"  inputmode="numeric" pattern="[0-9]*" type="text"
                  onchange="onValueChanged_Thickness()"  size="4"  value="0" ></td>
        <td>um</td>
        </tr>

        <tr>
        <td>Plated surface area:</td>
        <td>  <input id="platedArea"  inputmode="numeric" pattern="[0-9]*"  type="text"
                  onchange="onValueChanged_platedArea()"  size="4"></td>
        <td>dm2</td>
        </tr>

        <tr>
        <td>Plated Metal:</td>
        <td id="platedMetal">-------</td>
        <td>g</td>
        </tr>

        <tr>
        <td>------------------------</td>
        <td>-------</td>
        <td>-----</td>
        </tr>

        <tr>
        <td>Current Density:</td>
        <td>  <input id="currentDensity" inputmode="numeric" pattern="[0-9]*"  type="text"
                onchange="onValueChanged_CurrentDensity()" size="4"></td>
        <td>A/dm2 (asd)</td>
        </tr>

        <tr>
        <td>Applied Current:</td>
        <td>  <input id="appliedCurrent" inputmode="numeric" pattern="[0-9]*"  type="text"
                  onchange="onValueChanged_AppliedCurrent()" size="4"></td>
        <td>Amp</td>
        </tr>

        <tr>
        <td>------------------------</td>
        <td>-------</td>
        <td>-----</td>
        </tr>

        <tr>
        <td>Plating Time:</td>
        <td id="platingTime"> ------- </td>
        <td id="platingTimeUnit"> </td>
        </tr>

        <tr>
        <td colspan="3" > ------------------------------------------- </td>
        </tr>

        <tr>
        <td>Click-Copy Pad:</td>
        <td colspan="2"><input id="clickPad" type="text" size="8" >
            <input type="button" value="Copy" onclick="padCopy(clickPad)"></td>
        </tr>

</table>
--------------------------------<br />
Unit Conversion tools:
<table>
  <tr>
  <td>
    <input id="convTabLeft" inputmode="numeric" pattern="[0-9]*"
                              onchange="onValueChanged_ConvTabLeft()"   type="text" size="8"  ></td>

  <td> <input type="button" value="."  onclick="addDot(convTabLeft)"> </td>
  <td id="conTabLeftUnit">cm</td>

  <td>
      <select id="convTabLeftUnit" ng-model="convTabLeftUnit"  ng-init="convTabLeftUnit = convTabUnits[0]"
          ng-options="conTabUnit.unit for conTabUnit in convTabUnits" ng-change="onValueChanged_ConvTabLeftUnit()"
          >
        </select>
  </td>
  <td id="conTabRight">
    <input id="convTabRightOut"  inputmode="numeric" pattern="[0-9]*"
                        onchange="onValueChanged_ConvTabRight()"   type="text" size="8"  > </td>
  <td> <input type="button" value="." onclick="addDot(convTabRightOut)" > </td>
  <td id="conTabRightUnit">inch(es)</td>
  </tr>

  <tr>
  <td><input type="button" value="Copy" onclick="padCopy(convTabLeftUnit)"></td>
  <td><input type="button" value="&#8594;" onclick="onValueChanged_ConvTabLeft()"></td>
  <td></td>
  <td></td>

  <td> <input type="button" value="Copy" onclick="padCopy(convTabRightOut)"> </td>
  <td> <input type="button" value="&#8592;" onclick="onValueChanged_ConvTabRight()"></td>
  </tr>



</table>
  <!-- {{targetMetal.electroChemEqCal}}  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>

<script src="./platecal.js"></script>
</body>
</html>
